body{
  height: 100%;
  margin: 0;
  overflow-y: hidden;
}

.buttons-list{
  position: absolute;
  float: left;
  width: 459px;
  height: 100%;
}

.bg {
    position: absolute;
    display: flex;
    width: 574px;
    height: 1900px;
    background-color: #63d0ff;
    transform: rotate(187deg);
    margin: -58px 0 0 -137px;
    z-index: -50;
	
}

/* .buttons-list:after
{
  position: absolute;
  content:'';
  background: inherit;
  top:0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  transform-origin: right bottom;
  transform: skewX(-10deg);
} */

.container{
  margin-left: 10px;
  margin-top: 250px;
  position: absolute;
}

.logoimg {
  position: relative;
  display: flex;
  float: right;
  width: 200px;
  top: -53px;
    right: -29px;
  
}
.btn{
  padding: 12px;
  width: 500px;
}

button{
margin-bottom: 15px;
}

.main-img{
  top: 50px;
  position: relative;
  display: flex;
  float: right;
  width: 780px;
  
}

@media (max-width: 1024px) {
  .main-img{
    margin-top: 9%;
    margin-right: -18%;
    position: relative;
    display: flex;
    float: right;
    width: 58%;
  }
	.bg {
		position: absolute;
		display: flex;
		width: 574px;
		height: 1900px;
		background-color: #63d0ff;
		transform: rotate(187deg);
		margin: -58px 0 0 -137px;
		z-index: -50;
		
	}
	
	.btn{
  padding: 12px;
  width: 500px;
}
}

@media only screen and (max-width: 600px) {
	.main-img{
    margin-top: 9%;
    margin-right: -54%;
    position: relative;
    display: flex;
    float: right;
    width: 92%;
  }
	
	.buttons-list{
  position: absolute;
  float: left;
  width: 121%;
    height: 100%;
    margin-top: 222px;
}

.logoimg {
  position: relative;
  display: flex;
  float: right;
  width: 200px;
  top: -19px;
    right: -119px;
  
}
  
}





@media only screen and (max-width: 600px) {
	.main-img{
        margin-top: 9%;
    margin-right: -80%;
    position: relative;
    display: flex;
    float: right;
    width: 110%;
  }
	
	.buttons-list{
  position: absolute;
  float: left;
  width: 121%;
    height: 100%;
    margin-top: 222px;
}

.logoimg {
  position: relative;
  display: flex;
  float: right;
  width: 200px;
      top: -50px;
    right: -185px;
  
}
   
	.buttons-list{
  position: absolute;
  float: left;
     width: 136%;
    height: 100%;
    margin-top: 176px;
	
}
}
